*.class

# Package Files #
*.war
*.ear

*.zip
target
bin
dependency-reduced-pom.xml

# OSX
*.DS_Store

# IntelliJ IDE Project Files #
*.iml
*.idea

generated
src-gen
xtend-gen
plugin.xml_gen
model

site/features
site/plugins
site/artifacts.jar
site/content.jar