<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.xtext.viewCategory"
            class="com.github.jknack.ui.railroad.RailroadViewExecutableExtensionRegistry:com.github.jknack.ui.railroad.RailroadView"
            icon="icons/railroad.png"
            id="org.eclipse.xtext.xtext.ui.graph.view"
            name="Xtext Syntax Graph"
            restorable="true">
      </view>
      <category
            id="org.eclipse.xtext.viewCategory"
            name="Xtext">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.jknack.ui.railroad.RailroadViewExecutableExtensionRegistry:com.github.jknack.ui.railroad.RailroadViewPreferences">
      </initializer>
   </extension>
</plugin>