<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="g4"
            icon="icons/g.png"
            id="com.github.jknack.antlr4ide.Antlr4"
            name="ANTLR 4 Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.github.jknack.antlr4ide.Antlr4.validate">
         <activeWhen>
            <reference
                    definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
            </reference>
         </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.github.jknack.antlr4ide.Antlr4" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="com.github.jknack.antlr4ide.Antlr4.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.github.jknack.antlr4ide.Antlr4" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.github.jknack.antlr4ide.Antlr4"
            name="ANTLR 4">
            <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
        </page>
        <page
            category="com.github.jknack.antlr4ide.Antlr4"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.github.jknack.antlr4ide.Antlr4.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
        </page>
        <!-- Depends on JDT :S
        <page
            category="com.github.jknack.antlr4ide.Antlr4"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.github.jknack.antlr4ide.Antlr4.templates"
            name="Templates">
            <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
        </page>
        -->
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.github.jknack.antlr4ide.Antlr4"
            name="ANTLR 4">
            <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
            <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject"/>
      </enabledWhen>
          <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"
            label="ANTLR 4"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.github.jknack.antlr4ide.Antlr4.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.github.jknack.antlr4ide.Antlr4.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
      <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
        <visibleWhen checkEnabled="false">
                  <reference definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
                  </reference>
              </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.handlers">
      <handler
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

  <extension
    point="org.eclipse.emf.ecore.extension_parser">
    <parser
      class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
      type="g4">
    </parser>
  </extension>
  <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="g4">
        </resourceServiceProvider>
    </extension>


  <!-- marker definitions for com.github.jknack.antlr4ide.Antlr4 -->
  <extension
          id="antlr4.check.fast"
          name="ANTLR Problem"
          point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.xtext.ui.check.fast"/>
      <persistent value="true"/>
  </extension>
  <extension
          id="antlr4.check.normal"
          name="ANTLR Problem"
          point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.xtext.ui.check.normal"/>
      <persistent value="true"/>
  </extension>
  <extension
          id="antlr4.check.expensive"
          name="ANTLR Problem"
          point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.xtext.ui.check.expensive"/>
      <persistent value="true"/>
  </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <!-- Custom build page -->
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="com.github.jknack.antlr4ide.Antlr4"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.preferences.BuilderPreferencePage"
            id="com.github.jknack.antlr4ide.Antlr4.compiler.preferencePage"
            name="Tool">
            <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="com.github.jknack.antlr4ide.Antlr4"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.preferences.BuilderPreferencePage"
            id="com.github.jknack.antlr4ide.Antlr4.compiler.propertyPage"
            name="Tool">
            <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
            <enabledWhen>
              <adapt type="org.eclipse.core.resources.IProject"/>
      </enabledWhen>
          <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

  <!-- Quick Outline -->
  <extension
    point="org.eclipse.ui.handlers">
    <handler 
      class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
      commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
      <activeWhen>
        <reference
          definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>
  <extension
    point="org.eclipse.ui.commands">
    <command
      description="Open the quick outline."
      id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
      name="Quick Outline">
    </command>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
        style="push"
        tooltip="Open Quick Outline">
        <visibleWhen checkEnabled="false">
          <reference definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
    <!-- quickfix marker resolution generator for com.github.jknack.antlr4ide.Antlr4 -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.github.jknack.antlr4ide.ui.antlr4.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.github.jknack.antlr4ide.ui.antlr4.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.github.jknack.antlr4ide.ui.antlr4.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
    <!-- Rename Refactoring -->
  <extension point="org.eclipse.ui.handlers">
    <handler 
      class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
      commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
      <activeWhen>
        <reference
          definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="com.github.jknack.antlr4ide.Antlr4.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page
          category="com.github.jknack.antlr4ide.Antlr4"
          class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
          id="com.github.jknack.antlr4ide.Antlr4.refactoring"
          name="Refactoring">
          <keywordReference id="com.github.jknack.antlr4ide.ui.keyword_Antlr4"/>
      </page>
  </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="com.github.jknack.antlr4ide.Antlr4.compare.contentViewers"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="g4">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="com.github.jknack.antlr4ide.Antlr4.compare.contentMergeViewers"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="g4" label="ANTLR 4 Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="com.github.jknack.antlr4ide.Antlr4.editors.documentProviders"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="g4">
    </provider>
  </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.xtext.projectwiz"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.wizard.Antlr4NewProjectWizard"
            id="com.github.jknack.antlr4ide.ui.wizard.Antlr4NewProjectWizard"
            name="ANTLR 4 Project"
            project="true">
      </wizard>
   </extension>

   <extension
       point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory
          class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.console.AntlrConsoleFactory"
          icon="icons/console.png"
          label="ANTLR Console">
    </consoleFactory>
  </extension>
  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
       id="com.github.jknack.Antlr4.tool"
       name="ANTLR"
       delegate="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.launch.Antlr4ToolLaunchConfigurationDelegate"
       category="org.eclipse.ui.externaltools"
       modes= "run">
   </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/g.png"
        configTypeID="com.github.jknack.Antlr4.tool"
        id="com.github.jknack.Antlr4.toolIcon">
    </launchConfigurationTypeImage>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="com.github.jknack.Antlr4.tool"
        class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.launch.Antlr4ToolTabGroup"
        id="com.github.jknack.Antlr4.toolTabGroup">
    </launchConfigurationTabGroup>
  </extension>
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="com.github.jknack.Antlr4.toolLaunchShortcut"
        class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.launch.AntlrToolLaunchShortcut"
        label="Generate ANTLR Recognizer"
        icon="icons/g.png"
        category="org.eclipse.ui.externaltools"
        modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.g4"/>
               </iterate>
             </with>
           </enablement>
        </contextualLaunch>
      <configurationType id="com.github.jknack.Antlr4.tool"></configurationType>
    </shortcut>
  </extension>

  <!--Railroad view-->
  <extension
         point="org.eclipse.ui.views">
      <view
            category="com.github.jknack.Antlr4.viewCategory"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.railroad.RailroadView"
            icon="icons/railroad.png"
            id="com.github.jknack.Antlr4.syntaxDiagram"
            name="Syntax Diagram"
            restorable="true">
      </view>
      <category
            id="com.github.jknack.Antlr4.viewCategory"
            name="ANTLR 4">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.railroad.RailroadViewPreferences">
      </initializer>
   </extension>

  <!-- Parse Tree view -->
  <extension
         point="org.eclipse.ui.views">
      <view
            category="com.github.jknack.Antlr4.viewCategory"
            class="com.github.jknack.antlr4ide.ui.Antlr4ExecutableExtensionFactory:com.github.jknack.antlr4ide.ui.parsetree.ParseTreeView"
            icon="icons/parsetree.gif"
            id="antlr4.parseTreeView"
            name="Parse Tree"
            restorable="true">
      </view>
      <category
            id="com.github.jknack.Antlr4.viewCategory"
            name="ANTLR 4">
      </category>
   </extension>
</plugin>
